[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/http-parser"]
	path = third_party/http-parser
	url = https://github.com/nodejs/http-parser
[submodule "libevltls"]
	path = third_party/libevtls
	url = https://github.com/analyman/libevltls.git
